/*.AboutXtrudeInc {
  background-color: #ffffff;
  height: 210vh;
}

.aboutContent {
  position: relative;
  top: 12%;
  width: 82%;
}

.AboutHeading {
  user-select: none;
  font-size: 45px;
  color: #01204e;
  transition: 0.3s ease;
  border-bottom: 5px solid #00000045;
  width: 30%;
  transition: 0.3s ease;
}

.AboutHeading:hover {
  cursor: pointer;
}

.AboutDescription {
  color: #000000;
  line-height: 2.2rem;
  font-size: 18px;
  width: 45%;
}

.AboutDescription:hover {
  cursor: pointer;
}

.aboutsubContent {
  width: 100%;
  background-color: red;
}

/*#spannedText {
  background-color: #0c064e;
  color: #fff7eb;
  color: #00000094;
  text-shadow: -2px 0 0 #ffbd44, -6px 0 8px rgba(0, 0, 0, 0.2);
  padding: 4px;
  font-size: 20px;
  border-radius: 3px;
  transition: 0.3s ease;
}

#spannedText:hover {
  text-shadow: -2px 0 0 #faaa68, -6px 0 8px rgba(0, 0, 0, 0.2);
  background-color: #01204e;
  color: #fff7eb;
  padding-left: 5px;
  padding-right: 5px;
}

.ObjectivesHeading {
  user-select: none;
  font-size: 38px;
  color: #01204e;
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 5px solid #00000045;
  width: 18%;
  transition: 0.3s ease;
}

.ObjectivesDescription {
  background-color: #0c064e;
  color: #fff7eb;
  padding: 4px;
  font-size: 30px;
  text-shadow: -2px 0 0 #ffbd44, -6px 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 0 #ffbd44, 0 16px 0 #ff3732, 0 32px 0 #0099ff;
}

.ObjectivesDescription:hover {
  cursor: pointer;
}

.ObjectivesHeading:hover {
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 16px 0 0 #ffbd44, 32px 0 0 #ff3732, 64px 0 0 #0099ff;
}

#spannedText:hover {
  cursor: pointer;
}

.aboutimgs {
  display: flexbox;
  height: 300px;
  opacity: 0.9;
  box-shadow: 0 16px 0 #ffbd44, 0 32px 0 #ff3732, 0 64px 0 #0099ff;
}

.aboutimgs:hover {
  cursor: pointer;
}*/

.AboutXtrudeInc {
  background-color: white;
  height: 600vh;
  margin-top: 350px;
}

#img {
  height: 350px;
  margin-left: 15px;
}

.aboutHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 18%;
}

#servicesLink {
  transition: 0.3s ease;
}

#servicesLink:hover {
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
}

.aboutHeading:hover {
  margin-left: 10px;
}

.aboutSectionContent {
  background-color: #fff7eb;
  width: 100%;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#aboutSectionImg {
  float: right;
  height: 350px;
  margin-right: 200px;
  box-shadow: 16px 16px 0 #000000e1;
  transition: 0.3s ease;
}

#aboutSectionImg:hover {
  height: 400px;
}

.aboutDescription {
  font-style: italic;
  width: 30%;
  font-size: 20px;
  transition: 0.3s ease;
}

.aboutDescription:hover {
  cursor: pointer;
  padding-top: 10px;
}

.servicesSectionContainer {
  margin-top: 350px;
}

.servicesSectionContent {
  float: right;
  background-color: #fff7eb;
  width: 45%;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.servicesHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 18%;
}

.servicesHeading:hover {
  margin-left: 10px;
}

.servicesDescription {
  font-style: italic;
  font-size: 20px;
  width: 70%;
  transition: 0.3s ease;
}

.servicesDescription:hover {
  cursor: pointer;
  padding-top: 10px;
}

#servicesModel {
  margin-right: 50px;
}

/***********/

.moreServicesContainer {
  margin-top: 1000px;
}

.moreServicesContent {
  background-color: #f3f3f3;
  width: 50%;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.moreServicesHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 30%;
}

.moreServicesHeading:hover {
  margin-left: 10px;
}

.moreServicesDescription {
  font-style: italic;
  font-size: 20px;
  width: 80%;
  transition: 0.3s ease;
}

.moreServicesDescription:hover {
  cursor: pointer;
  padding-top: 10px;
}

.MissionContent {
  background-color: #f3f3f3;
  width: 100%;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 400px;
}

.missionHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 18%;
  transition: 0.3s ease;
}

.missionHeading:hover {
  margin-left: 10px;
}

.missionDescription {
  font-style: italic;
  width: 30%;
  font-size: 20px;
  transition: 0.3s ease;
}

.missionDescription:hover {
  cursor: pointer;
  padding-top: 10px;
}

#missionImg {
  float: right;
  height: 350px;
  margin-right: 100px;
  box-shadow: 16px 16px 0 #000000e1;
  transition: 0.3s ease;
}

.VisionContent {
  background-color: #f3f3f3;
  width: 100%;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 400px;
}

.visionHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 18%;
  margin-left: 750px;
  transition: 0.3s ease;
}

.visionHeading:hover {
  margin-left: 760px;
}

.visionDescription {
  font-style: italic;
  width: 30%;
  font-size: 20px;
  transition: 0.3s ease;
  margin-left: 750px;
}

.visionDescription:hover {
  cursor: pointer;
  padding-top: 10px;
}

#visionImg {
  float: left;
  height: 350px;
  margin-left: 50px;
  box-shadow: 16px 16px 0 #000000e1;
  transition: 0.3s ease;
}

/*@media (max-width: 1200px) {
  .aboutDescription {
    font-size: 20px;
    width: 45%;
  }

  #aboutSectionImg {
    height: 250px;
    margin-right: 100px;
  }

  #aboutSectionImg:hover {
    height: 300px;
  }

  .servicesDescription {
    font-size: 18px;
  }

  .servicesSectionContent {
    width: 48%;
  }

  .moreServicesDescription {
    font-size: 18px;
  }

  .moreServicesContent {
    width: 52%;
  }

  .missionDescription {
    font-size: 18px;
    width: 45%;
  }

  #missionImg {
    height: 350px;
  }

  #missionImg:hover {
    height: 400px;
  }

  .visionHeading {
    margin-left: 500px;
  }

  .visionHeading:hover {
    margin-left: 520px;
  }

  .visionDescription {
    margin-left: 400px;
    font-size: 18px;
    width: 45%;
  }

  #visionImg {
    height: 250px;
  }

  #visionImg:hover {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .aboutDescription {
    font-size: 18px;
    width: 45%;
  }

  #aboutSectionImg {
    height: 200px;
  }

  #aboutSectionImg:hover {
    height: 250px;
  }

  #modelview2 {
    display: none;
  }

  .servicesSectionContent {
    width: 100%;
  }

  .servicesHeading {
    width: 100%;
  }

  .servicesDescription {
    font-size: 18px;
  }

  #modelview3 {
    display: none;
  }

  .moreServicesContent {
    width: 100%;
  }

  .moreServicesDescription {
    font-size: 18px;
  }

  .missionHeading {
    width: 100%;
  }

  .missionDescription {
    font-size: 18px;
    width: 50%;
  }

  #missionImg {
    height: 300px;
    margin-right: 100px;
  }

  #missionImg:hover {
    height: 350px;
  }

  .visionHeading {
    width: 100%;
  }

  .visionDescription {
    font-size: 18px;
    width: 50%;
    margin-left: 350px;
  }

  #visionImg {
    height: 200px;
  }

  #visionImg:hover {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .aboutSectionContent {
    padding-left: 100px;
  }

  .aboutHeading {
    width: 100%;
  }

  .aboutDescription {
    font-size: 12px;
  }

  #aboutSectionImg {
    height: 182px;
    margin-right: 50px;
  }

  #aboutSectionImg:hover {
    height: 182px;
  }

  .missionDescription {
    font-size: 12px;
  }

  #missionImg {
    height: 200px;
  }

  #missionImg:hover {
    height: 200px;
  }

  .visionHeading {
    margin-left: 0px;
  }

  .visionDescription {
    font-size: 12px;
    margin-left: 0px;
    width: 72%;
  }

  #visionImg {
    display: none;
  }
}

@media (max-width: 576px) {
  #aboutSectionImg {
    display: none;
  }
}*/
