.AboutXtrudeInc {
  background-color: #ffffff;
  height: 210vh;
}

.aboutContent {
  position: relative;
  top: 12%;
  left: 11%;
  width: 82%;
}

.AboutHeading {
  user-select: none;
  font-size: 45px;
  color: #0c064e;
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 5px solid #00000045;
  width: 25%;
  transition: 0.3s ease;
}

.AboutHeading:hover {
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 16px 0 0 #ffbd44, 32px 0 0 #ff3732, 64px 0 0 #0099ff;
}

.AboutDescription {
  color: #00000094;
  line-height: 3rem;
  font-size: 25px;
  width: 45%;
}

.AboutDescription:hover {
  cursor: pointer;
}

#spannedText {
  background-color: #0c064e;
  color: #fff7eb;
  text-shadow: -2px 0 0 #ffbd44, -6px 0 8px rgba(0, 0, 0, 0.2);
  padding: 4px;
  font-size: 30px;
  border-radius: 3px;
  transition: 0.3s ease;
}

#spannedText:hover {
  cursor: pointer;
}

.aboutimgs {
  display: flexbox;
  height: 300px;
  opacity: 0.9;
  box-shadow: 0 16px 0 #ffbd44, 0 32px 0 #ff3732, 0 64px 0 #0099ff;
}

.aboutimgs:hover {
  cursor: pointer;
}
