#modelview1 {
  position: absolute;
  left: 52%;
  top: 20%;
  border-radius: 50px;
}

#modelview2 {
  position: absolute;
  left: 52%;
  top: 150%;
  border-radius: 50px;
  z-index: 1000;
}

#enclosurelithophaneModel2 {
  position: absolute;
  left: 1%;
  top: 450%;
  border-radius: 50px;
  z-index: 1000;
}

model-viewer {
  animation: float 4s ease-in-out infinite;
}

model-viewer {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}
