/*.ProductsXtrudeInc {
  background: #ffffff;
  height: 310vh;
}

.productsContent {
  position: relative;
  top: 20%;
  left: 11%;
  width: 82%;
}

.productHeading {
  user-select: none;
  font-size: 45px;
  color: #0c064e;
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 5px solid #00000045;
  width: 25%;
  transition: 0.3s ease;
}

.productHeading:hover {
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 16px 0 0 #ffbd44, 32px 0 0 #ff3732, 64px 0 0 #0099ff;
}

#Productimgs {
  display: flexbox;
  height: 300px;
  opacity: 0.9;
  box-shadow: 0 16px 0 #ffbd44, 0 32px 0 #ff3732, 0 64px 0 #0099ff;
}

.productDescription {
  margin-top: 100px;
  color: #00000094;
  line-height: 3rem;
  font-size: 45px;
  width: 60%;
}

.listItem {
  margin-bottom: 5px;
  transition: 0.3s ease;
  For smooth description transition
  position: relative;
}

#productTextDescription {
  display: block;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.productName {
  background-color: #0c064e;
  color: #fff7eb;
  width: 65%;
  text-shadow: -2px 0 0 #ffbd44, -6px 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-bottom: 20px;
  font-size: 38px;
  transition: 0.3s ease;
}

#ProductDescription {
  display: none;
  padding: 10px;
  font-size: 22px;
  color: white;
  border: none;
  text-shadow: none;
  margin-top: 15px;
}

.productName:hover {
  box-shadow: 0 16px 0 #ffbd44, 0 32px 0 #ff3732, 0 64px 0 #0099ff;
  margin-bottom: 100px;
  cursor: pointer;
}

.productName:hover #ProductDescription {
  display: block;
  max-height: 100px;
  opacity: 1;
}*/

.productsXtrudeInc {
  height: 450vh;
}

.productsHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 18%;
}

.productsHeading:hover {
  margin-left: 10px;
}

.productsSectionContent {
  background-color: #fff7eb;
  width: 100%;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.productsDescription {
  font-style: italic;
  width: 45%;
  font-size: 20px;
  transition: 0.3s ease;
}

.productsDescription:hover {
  cursor: pointer;
  padding-top: 10px;
}

.productsShowcaseDescription {
  font-size: 25px;
  font-style: italic;
}

#productsImg {
  float: right;
  height: 350px;
  margin-right: 200px;
  box-shadow: 16px 16px 0 #000000e1;
  transition: 0.3s ease;
}

#productsImg:hover {
  height: 400px;
}

#viewinthreeDLink {
  color: #0c064e;
  text-decoration: none;
  transition: 0.3s ease;
}

#viewinthreeDLink:hover {
  text-decoration: underline;
}

#knowMoreLink {
  color: #0c064e;
  text-decoration: none;
  transition: 0.3s ease;
}

#knowMoreLink:hover {
  text-decoration: underline;
}

#viewinthreeDLink:hover {
  text-decoration: underline;
}

.productShowcaseContainer {
  margin-top: 200px;
}

.showcaseHeading {
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
  width: 22%;
}

.showcaseHeading:hover {
  cursor: pointer;
}

.showcaseContent {
  width: 100%;
  padding-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modelbox {
  /*height: 500px;
  width: 700px;*/
  height: 400px;
  width: 600px;
}

.modelContainers {
  display: grid;
  /*grid-template-columns: repeat(2, 0fr);*/
  gap: 100px;
  margin-top: 100px;
}

.boxOneDiv {
  display: flex;
}

.boxTwoDiv {
  display: flex;
}

.boxThreeDiv {
  display: flex;
}

.boxFourDiv {
  display: flex;
}

#descriptionHeading {
  font-weight: 700;
}

.boxdescription {
  margin-top: 50px;
  margin-left: 50px;
  width: 45%;
  font-style: italic;
}

.ModelBtn {
  padding: 10px;
  color: #fff7eb;
  background-color: #0c064e;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  transition: 0.3s ease;
}

.ModelBtn:hover {
  color: #d1d1d1;
}
